<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">Trainings</span>
    </a>
    <a mat-list-item routerLink="/newtraining" (click)="onClose()" *ngIf="isAuth">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">New training</span>
    </a>
    <mat-list-item>
        <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>