<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <button mat-raised-button color="primary" (click)="toggleTrainingForm()">Create new training</button>
  <section [hidden]="isFormVisible">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm"(ngSubmit)="createTraining(f)">
      <mat-form-field>
        <textarea 
          row="4"
          type="text" 
          matInput 
          name="plan" 
          placeholder="Plan"
          ngModel 
          required>
        </textarea>
        <mat-hint>Training plan:</mat-hint>
      </mat-form-field>
        <mat-form-field>
          <input 
            matInput 
            placeholder="Pick a date" 
            [matDatepicker]="picker" 
            [max]="maxDate" 
            ngModel 
            name="date" 
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </form>
  </section>
</section>
