<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">NG-FIT</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth">
                <a routerLink="/signup">Signup</a>
            </li>
            <li *ngIf="!isAuth">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/training">Trainings</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/newtraining">New training</a>
            </li>
            <li *ngIf="isAuth">
                <a style="cursor: pointer" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>