<section>
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        type="text" 
        matInput 
        name="name" 
        placeholder="Your name"
        ngModel 
        required />
      <mat-hint>Example: John</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input 
          type="text" 
          matInput 
          name="lastName" 
          placeholder="Your last name"
          ngModel 
          required />
        <mat-hint>Example: Doe</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Example: example@example.com">
      <input 
        type="email" 
        matInput  
        placeholder="Your email" 
        ngModel 
        name="email"
        email
        required 
        #emailInput="ngModel"/>
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is not valid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 8 characters long.">
      <input 
        type="password" 
        matInput  
        placeholder="Your password" 
        ngModel 
        name="password"
        minlength="8"
        required
        #pwInput="ngModel"/>
      <mat-hint align="end"> {{pwInput.value?.length}}/ 8</mat-hint>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
