<h1>Training has {{voteCount}} upvotes!</h1>
<h2 mat-dialog-title>Users who joined training:</h2>
<div *ngFor='let member of members'>
  <h3>{{member.name}} {{member.surname}}</h3>
</div>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>