<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <h1>Upcoming trainings</h1>

  <mat-card *ngFor='let training of trainings | async'>
    <mat-card-title>{{training.date.toDate() | date}}</mat-card-title>
    <mat-card-content>
      {{training.plan}}
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-raised-button (click)="showMembers(training.id)">Show joined members</button>
    </mat-card-actions>
    <mat-card-actions fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button 
      mat-raised-button 
      color="primary"
      (click)="joinTraining(training.id)">
      Join training
    </button>
    <button mat-raised-button color="primary" (click)="upvoteTraining(training.id)">Upvote</button>
    <button 
      mat-raised-button 
      color="accent"
      (click)="leaveTraining(training.id)">
      Leave training
    </button>
    <button mat-raised-button color="warn" (click)="deleteTraining(training.id)">DELETE</button>
  </mat-card-actions>
  </mat-card>
</section>
